<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <style media="screen">
        body {
            background-color: {{colors}};
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>
